# Pandas

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

# Object Creation

In [6]:
s=pd.Series([1,2,2,3,4,56,])
s

0     1
1     2
2     2
3     3
4     4
5    56
dtype: int64

In [10]:
s1=pd. Series([1,2,34,5,1.23,np.nan])
s1

0     1.00
1     2.00
2    34.00
3     5.00
4     1.23
5      NaN
dtype: float64

In [13]:
df=pd.date_range("20220101", periods=10)
df

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [20]:
dates=pd.date_range("20220101", periods=6)
df1=pd.DataFrame(np.random.rand(6,6), index=dates, columns=list("ABCDEF"))
df1

                   A         B         C         D         E         F
2022-01-01  0.240122  0.427242  0.522397  0.586296  0.527367  0.258466
2022-01-02  0.902664  0.445464  0.448824  0.140877  0.295746  0.485053
2022-01-03  0.028992  0.682508  0.209755  0.779701  0.042875  0.217620
2022-01-04  0.476544  0.520157  0.825813  0.117880  0.732481  0.807472
2022-01-05  0.388711  0.502298  0.456860  0.780584  0.012397  0.733245
2022-01-06  0.310566  0.057128  0.074989  0.097023  0.979286  0.756887

In [21]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [22]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

# Data Viewing

In [23]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [24]:
df2.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [25]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [26]:
df2.sum()

C:\Users\Mustafa\AppData\Local\Temp\ipykernel_6832\1192336401.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.sum()

A             4.0
C             4.0
D              12
F    foofoofoofoo
dtype: object

In [23]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [25]:
df.to_numpy()

array([[-0.64196334, -0.72940604,  0.89040499,  1.08528404],
       [-0.41881706,  0.49078351, -0.70361827,  1.40221759],
       [-1.25771723,  0.44685314,  1.06834953,  0.49387242],
       [-0.27095938,  0.78981613,  0.02900036,  0.40120439],
       [ 1.16129231,  1.54771656, -1.15722851, -0.37979456],
       [-1.9049838 , -0.35188471,  0.6035097 ,  0.3036533 ]])

In [27]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.555525  0.365646  0.121736  0.551073
std    1.036216  0.814058  0.899399  0.626625
min   -1.904984 -0.729406 -1.157229 -0.379795
25%   -1.103779 -0.152200 -0.520464  0.328041
50%   -0.530390  0.468818  0.316255  0.447538
75%   -0.307924  0.715058  0.818681  0.937431
max    1.161292  1.547717  1.068350  1.402218

In [30]:
# transpose of df
df.T

   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
A   -0.641963   -0.418817   -1.257717   -0.270959    1.161292   -1.904984
B   -0.729406    0.490784    0.446853    0.789816    1.547717   -0.351885
C    0.890405   -0.703618    1.068350    0.029000   -1.157229    0.603510
D    1.085284    1.402218    0.493872    0.401204   -0.379795    0.303653

In [33]:
df1.sort_index(axis=1, ascending=True)

                   A         B         C         D         E         F
2022-01-01  0.240122  0.427242  0.522397  0.586296  0.527367  0.258466
2022-01-02  0.902664  0.445464  0.448824  0.140877  0.295746  0.485053
2022-01-03  0.028992  0.682508  0.209755  0.779701  0.042875  0.217620
2022-01-04  0.476544  0.520157  0.825813  0.117880  0.732481  0.807472
2022-01-05  0.388711  0.502298  0.456860  0.780584  0.012397  0.733245
2022-01-06  0.310566  0.057128  0.074989  0.097023  0.979286  0.756887

In [36]:
df1.sort_values(by="E", ascending=True)

                   A         B         C         D         E         F
2022-01-05  0.388711  0.502298  0.456860  0.780584  0.012397  0.733245
2022-01-03  0.028992  0.682508  0.209755  0.779701  0.042875  0.217620
2022-01-02  0.902664  0.445464  0.448824  0.140877  0.295746  0.485053
2022-01-01  0.240122  0.427242  0.522397  0.586296  0.527367  0.258466
2022-01-04  0.476544  0.520157  0.825813  0.117880  0.732481  0.807472
2022-01-06  0.310566  0.057128  0.074989  0.097023  0.979286  0.756887

In [38]:
df1.sort_values("B", ascending=True)

                   A         B         C         D         E         F
2022-01-06  0.310566  0.057128  0.074989  0.097023  0.979286  0.756887
2022-01-01  0.240122  0.427242  0.522397  0.586296  0.527367  0.258466
2022-01-02  0.902664  0.445464  0.448824  0.140877  0.295746  0.485053
2022-01-05  0.388711  0.502298  0.456860  0.780584  0.012397  0.733245
2022-01-04  0.476544  0.520157  0.825813  0.117880  0.732481  0.807472
2022-01-03  0.028992  0.682508  0.209755  0.779701  0.042875  0.217620

In [39]:
df1.sort_values('E')

                   A         B         C         D         E         F
2022-01-05  0.388711  0.502298  0.456860  0.780584  0.012397  0.733245
2022-01-03  0.028992  0.682508  0.209755  0.779701  0.042875  0.217620
2022-01-02  0.902664  0.445464  0.448824  0.140877  0.295746  0.485053
2022-01-01  0.240122  0.427242  0.522397  0.586296  0.527367  0.258466
2022-01-04  0.476544  0.520157  0.825813  0.117880  0.732481  0.807472
2022-01-06  0.310566  0.057128  0.074989  0.097023  0.979286  0.756887

In [32]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2022-01-01 -0.641963 -0.729406  0.890405  1.085284
2022-01-02 -0.418817  0.490784 -0.703618  1.402218
2022-01-03 -1.257717  0.446853  1.068350  0.493872
2022-01-04 -0.270959  0.789816  0.029000  0.401204
2022-01-05  1.161292  1.547717 -1.157229 -0.379795
2022-01-06 -1.904984 -0.351885  0.603510  0.303653

In [33]:
df.sort_values(by="B")

                   A         B         C         D
2022-01-01 -0.641963 -0.729406  0.890405  1.085284
2022-01-06 -1.904984 -0.351885  0.603510  0.303653
2022-01-03 -1.257717  0.446853  1.068350  0.493872
2022-01-02 -0.418817  0.490784 -0.703618  1.402218
2022-01-04 -0.270959  0.789816  0.029000  0.401204
2022-01-05  1.161292  1.547717 -1.157229 -0.379795

# Selection

In [36]:
# column A only
df["A"]

2022-01-01   -0.641963
2022-01-02   -0.418817
2022-01-03   -1.257717
2022-01-04   -0.270959
2022-01-05    1.161292
2022-01-06   -1.904984
Freq: D, Name: A, dtype: float64

In [35]:
df['B']

2022-01-01   -0.729406
2022-01-02    0.490784
2022-01-03    0.446853
2022-01-04    0.789816
2022-01-05    1.547717
2022-01-06   -0.351885
Freq: D, Name: B, dtype: float64

In [45]:
df1[0:3]

                   A         B         C         D         E         F
2022-01-01  0.240122  0.427242  0.522397  0.586296  0.527367  0.258466
2022-01-02  0.902664  0.445464  0.448824  0.140877  0.295746  0.485053
2022-01-03  0.028992  0.682508  0.209755  0.779701  0.042875  0.217620

In [46]:
df1['B']

2022-01-01    0.427242
2022-01-02    0.445464
2022-01-03    0.682508
2022-01-04    0.520157
2022-01-05    0.502298
2022-01-06    0.057128
Freq: D, Name: B, dtype: float64

# Selection By Label (loc)

In [48]:
df1.loc['20220101', :]

A    0.240122
B    0.427242
C    0.522397
D    0.586296
E    0.527367
F    0.258466
Name: 2022-01-01 00:00:00, dtype: float64

In [54]:
df1.loc[:, ['A', 'C']]

                   A         C
2022-01-01  0.240122  0.522397
2022-01-02  0.902664  0.448824
2022-01-03  0.028992  0.209755
2022-01-04  0.476544  0.825813
2022-01-05  0.388711  0.456860
2022-01-06  0.310566  0.074989

In [52]:
df1.loc[:,'A']
df1['A']

2022-01-01    0.240122
2022-01-02    0.902664
2022-01-03    0.028992
2022-01-04    0.476544
2022-01-05    0.388711
2022-01-06    0.310566
Freq: D, Name: A, dtype: float64

In [55]:
df1.at[dates[1], "B"]

0.44546417998637744

In [60]:
df1.loc["20220101:20220103", "B"]

KeyError: '20220101:20220103'